body{
    height: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;

}

.display-list{
    display: flex;
    flex-flow: column;
    width: 80vw;
    align-items: center;
}

main div{
    /*background-color: crimson;*/
    padding: 1wv 1vh;
    margin-bottom: 2vh;
    width: 100%;
}

img{
    height: auto;
    width: 130%;
}
div span{
    color: rgb(59, 196, 31); 
}

div a{
    color: rgb(53, 53, 227);
    text-decoration: none;
}

.double-pannel {
  display: grid;
  grid-template-columns: 0.1fr 0.3fr;
  gap: 1px; 
  border-right: 6px solid rgb(64, 64, 255);
  width:100%;
}

.card_pannel{
 display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display:flex;
  justify-content: space-between;
  align-items:flex-end;
  gap: 1px; 
  margin-left:10vh;
 
}

.card_pannel div img {
    width: 270%;
}

@media (max-width: 600px) {
    .card_pannel{
    background-color: aquamarine;
     /*width: 200%;*/
     }

.card_pannel div  {
    display:grid;
    grid-template-columns:4rem 8rem;
    

}

/*.card_pannel div  {
   margin-left: -105vw;
   display: flex;
   flex-flow: column;
   align-items: center;
}*/

footer {
display: grid;
grid-template-columns: repeat(6, 0.15fr);
grid-template-rows: 0.15fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
button{
    height: 6vh;
    margin-left: 1.25vh;
    width: 3.5vh;

}

.bottom{
margin-left:0;
  position: absolute;
  bottom: 0;
  left: 0;
  display:flex;
  align-items:flex-end;
}

button{

    height: 3vh;
    margin-left: 2.5vh;
    width: 3.38vh;
  
}
}
footer{
background-color: rgb(74, 96, 177);
width:100%;
display: flex;
position: fixed;
  bottom: 0;
  left: 0;
}

button{
    background-color: inherit;
    color: #fff;
    height: 6vh;
    margin-left: 5%;
    width: 9%;
  border: 2px dotted #bababa;
  border-radius: 5px;
  float: left;
  display: block;
  text-align: center;
  /*padding: 14px 16px;
  text-decoration: none;*/
    font-size: 75%;
    left:0;
    margin-bottom: 10px;
    margin-top: 10px;
    
      display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*padding-bottom: 3px;*/
}

.span{
margin-right: 7%;
}

#arrow img {
    width:5vh;
}
header{
    height: 50vh;
    background-color: rgb(62,63,65);
    border-bottom: 10px solid #a9d6fc;
}

.fileName{
    color: rgb(122, 122, 122);
    margin-right: 10vh;
    margin-top: 10vh;
}

.lables{
    position: relative;
    height:80%;
}

.options {
  display: grid;
  grid-template-columns: 4rem 8rem;
  /*grid-template-rows: 4rem;*/
}

#tabs{
color: #fff;
background-color: rgb(74, 96, 177);
position: fixed;
left: 0;
bottom: 0;
width: 100%;
z-index: 1000;
display:flex;
justify-content: space-evenly;
align-items: center;
padding: 1.5vh 0;
}

main{
      display: grid;
  grid-template-columns: 40rem;
  height: 75vh;
  width:20%;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}