body{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.display-list{
    display: flex;
    flex-flow: column;
    width: 80vw;
    align-items: center;
}

img{
    height: 90%;
   width:minmax(1vw,3.5vw);
   grid-column-start: 3;
     margin-right: 1.5vw;
}
li span{
    color: rgb(59, 196, 31); 
}

li a{
    color: rgb(53, 53, 227);
    text-decoration: none;
}

.double-pannel {
  display: grid;
  grid-template-columns: minmax(0.05fr, 0.1fr);
  gap: 1px; 
  border-right: 6px solid rgb(64, 64, 255);
  width:55vh;
  margin-right: minmax(45vw, 100vw);
  position: absolute;
}

.card_pannel{
  display:flex;
  justify-content: space-between;
  align-items:center;
  gap: 1px; 
  margin-left:10vh;
}

.card_pannel ul li img {
    position: absolute;
    width:100%;
    height: auto;
    grid-column-end:1 ;
    margin-top: 5%;
}


.card_pannel ul li  {
  height: 21%;
  /*width: minmax(7vw, 25vw);*/
  display:grid;
  grid-template-columns: minmax(3rem, 12.5rem);
  grid-template-rows: minmax(5rem,10rem) 2rem;
}

.bottom{
margin-left:0;
  position: relative;
  bottom: 10vh;
  left: 0;
  display:flex;
  align-items:flex-end;
  width:120%;
  margin-bottom: 10%;
  /*grid-row-start:4;*/
}

button{

    height: 1.8vh;
    margin-left: 2.5vh;
    width: 1.7vw;
  
}

footer{
width:100%;
display: flex;
flex-direction:column;
position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent;
  /*height: 12vh;*/
}

nav{
    background-color: rgb(74, 96, 177);
    height: 5%;
    margin-right:50%;
    width: 200%;

}

button{
    background-color: inherit;
    color: #fff;
    height: 10vh;
    margin-left: 1.5%;
    width: 7%;
  border: 2px dotted #bababa;
  border-radius: 5px;
  float: left;
  display: block;
  text-align: center;
  /*padding: 14px 16px;
  text-decoration: none;*/
    font-size: 70%;
    left:0;
    margin-bottom: 10px;
    margin-top: 10px;
    
     /*display: flex;
  flex-direction: column;
  justify-content: flex-end;
padding-bottom: 3px;*/
}

button:hover{
    background-color: #a9bcfc;
}

.span{
margin-right: 7%;
}

#reset-selection img {
    width:5vh;
    color:#fff;
    text-align: center;
}

#reset-selection{
    display: flex;
    align-items: center;
}

header{
    height: 50vh;
    background-color: rgb(62,63,65);
    border-bottom: 10px solid #a9d6fc;
}

.fileName{
    color: rgb(122, 122, 122);
    position:absolute;
}

.lables{
    position: absolute;
    /*left:0;*/
    display:grid;
    grid-column-start: span 2;
    grid-template-columns: 14rem;
    grid-template-rows:  1.4rem 1rem;
    /*font-size: 50%;*/
    /*height: 30%;*/
    margin-left: 90%;
}

.options {
    padding: 1wv 1vh;
    margin-bottom: 2vh;
  /*display: grid;
  grid-template-columns: 4rem 15rem;*/
  width:85%;
  height: 7%;
  min-height: 60px;
  max-height: 20vh;
  position:relative;
  display:flex;
  font-size: minmax(40%, 100%);

}

.tabs{
color: #fff;
background-color: rgb(74, 96, 177);
padding: 1.5vh 0;
border:solid #80aaffee 2px;
border-radius: 20px 20px 0 0;
width:50%;
display: flex;
justify-content: center;
}

#menu{
    display: flex;
flex-direction:row;
justify-content: space-between;
}

ul{
 height: 75vh;
width:inherit;
margin-left: -10%;
}

.card_pannel ul{
    display: grid;
    grid-template-columns: minmax(5rem, 15rem) minmax(5rem, 15rem) minmax(5rem, 15rem) minmax(5rem, 15rem);
    /*grid-template-rows: minmax(10rem, 120rem) minmax(10rem, 80rem) minmax(10rem, 80rem) minmax(10rem, 80rem);*/
}

main{
    width: minmax(20vw,55vw);
}